@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  font-family: Lato, sans-serif;
  color: #3a3a3a;
}

h1,
h2 {
  font-family: Oswald, sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #252525;
}

/*============================================ HEADER ========*/

#logo {
  float:left;
  font-size: 240%;
  margin-left: 30px;
}


#menu {
  font-size: 110%;
  font-weight: bold;
  letter-spacing: 4px;
}

#menu,
#logo {
  line-height: 75px;
  align-items: center;

}

#menu li {
  float: right;
  list-style-type: none;
  margin-right: 20px;
}

#menu a {
  text-decoration: none;
  color: inherit;
}

#menu a:hover {
  border-bottom: 1px solid red;
}

/*================*/

#a {
  overflow: hidden;
  position: relative;
  width: 100%;
}

#b {
  overflow: hidden;
  position: relative;
  width: 100%;
  background-color: red;
}

/*==============================================================*/

.tabs {
  list-style: none;
  position: relative;
  width: 100%;
  font-family: sans-serif

}

.tabs input[type="radio"] {
  display: none;
}

.tabs li {
  display: block;
}
.tabs label {
  display: block;
  cursor: pointer;
  padding: 10px 15px;
  background-color: aqua;
  border-bottom: 0;
  border-radius: 3px 3px 0 0;
}

.tabs .tab-panel {
  display: none;
  overflow: hidden;
  width: 100%;
  position: Absolutr;
  border-top: 1px solid #3a3a3a;
  border-bottom: 1px solid #3a3a3a;
  height: 500px;
}

.tabs p {
  font-size: large;
  color: red;
  margin-left: 30px;
  margin-top: 30px;

}

#tab-panel1 {
  background: url('../images/mountain01.jpg') no-repeat center center;

}

#tab-panel2 {
  background: url('../images/mountain02.jpg') no-repeat center center;

}

#tab-panel3 {
  background: url('../images/mountain03.jpg') no-repeat center center;

}

.tabs [id^="tab"]:checked+label {
  background-color: #3a3a3a;
  color: #fff;
}

.tabs [id^="tab"]:checked~[id^="tab-panel"] {
  display: block;
}

/*=========================================== FOOTER ========*/

footer {
  position: relative;
  height: 100px;
  margin-left: 30px;
  margin-top: 30px;
}

footer ul {
  text-align: left;
}

footer li {
  display: inline-block;
  margin-right: 4%;
}

footer i {

  font-size: 160%;
  color: #3a3a3a;
}