@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  font-family: Lato, sans-serif;
  color: #2a3141;
}

h1,
h2 {
  font-family: Oswald, sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #0c162c; 
}


/*============================================ HEADER ========*/

#logo {
  float:left;
  font-size: 240%;
  margin-left: 30px;
}


#menu {
  font-size: 110%;
  font-weight: bold;
  letter-spacing: 4px;
}

#menu,
#logo {
  line-height: 75px;
  align-items: center;

}

#menu li {
  float: right;
  list-style-type: none;
  margin-right: 20px;
}

#menu a {
  text-decoration: none;
  color: inherit;
}

#menu a:hover {
  border-bottom: 2px solid #0c162c;
  background-color: #0c162c;
  background-size: 120%;
  color: #fff;
}

/*================*/



/*==================================================TABS============*/

#split {
  overflow: hidden;
  position: relative;
  width: 100%;
  padding-bottom: 10px;
}

#events {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.tabs {
  list-style: none;
  position: relative;
  width: 100%;
  font-family: sans-serif

}

.tabs input[type="radio"] {
  display: none;
}

.tabs li {
  display: block;
}
.tabs label {
  display: block;
  cursor: pointer;
  padding: 10px 30px;
  background-color:#0c162c; 
  border-bottom: 1px solid #fff;
  color: #fff;
}

.tabs label:hover {
  background-color: #98c004;
}

.tabs .tab-pan {
  display: none;
  overflow: hidden;
  width: 100%;
  position: Absolutr;
  border-bottom: 1px solid #0c162c;
  height: 500px;
}

.tabs p {
  
  margin-left: 30px;
  margin-top: 30px;

}

/*=========================================== PAN1 ========*/
#tab-pan1{
  background-color: #c9ccd6;
}

#left-about {
  padding-top: 30px;
  width: 33%;
  float: left;
  
}

#right-about {
  padding-top: 30px;
  width: 33%;
  float: right;
 
}

#mid-about {
  width: 33%;
  margin: auto;
}

hr {
  border-top: 1px solid #3a3a3a;
  width: 100%;
  margin: 5px 0;
}

.left-about-heading {
  width: 60%;
  line-height: 20px;
  float: right;
  clear: both;
  margin-bottom: 50px;
}

.right-about-heading {
  width: 60%;
  line-height: 20px;
  float: left;
  clear: both;
  margin-bottom: 50px;
}

.right-about-heading h2 {
  text-align: right;
}

.right-about-heading p {
  text-align: right;
}

.main-head {
  text-align: center;
  margin: 20px;
  font-size: 250%;
}

#circle-container {
  width: 300px;
  height: 300px;
  padding: 30px;
  border-style: solid;
  border-color: #ccc;
  border-width: 1px;
  border-radius: 50%;
  margin: auto;
}

#circle-cover-bg {
  background: url(../images/ethos-center-image.jpg) no-repeat center center;
  height: 100%;
  border-radius: 50%;
}

/*=========================================== PAN2 ========*/
#tab-pan2 {
  background: url('../images/2.1.jpg') no-repeat center center;

}

#tab-pan3 {
  background: url('../images/3.1.jpg') no-repeat center center;

}

#tab-pan4 {
  background: url('../images/4.1.jpg') no-repeat center center;

}

.tabs [id^="tab"]:checked+label {
  color: #98c004;
  pointer-events:none;
 
}

.tabs [id^="tab"]:checked~[id^="tab-pan"] {
  display:block;
}

/*=========================================== FOOTER ========*/

footer {
  position: relative;
  height: 100px;
  margin-left: 30px;
  margin-top: 30px;
}

footer ul {
  text-align: left;
}

footer li {
  display: inline-block;
  margin-right: 4%;
}

footer i {

  font-size: 160%;
  color: #0c162c;
}




/*=================================== SMALL SCREEN SETUP ========*/
